# OSX
#
.DS_Store

# Xcode
#
build/
!*/.xcodeproj
!*/.pbxproj
!*/.xcworkspacedata
!*/.xcsettings
!*/.xcscheme
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/.xcode.env.local

# Root dir shouldn't have Xcode project
/*.xcodeproj

# ReactCommon subdir shouldn't have Xcode project
/ReactCommon/*/.xcodeproj

# Libs that shouldn't have Xcode project
/Libraries/FBLazyVector/*/.xcodeproj
/Libraries/RCTRequired/*/.xcodeproj
/React/CoreModules/*/.xcodeproj
/React/FBReactNativeSpec/*/.xcodeproj
/packages/react-native-codegen/*/.xcodeproj

# Visual studio
.vscode
.vs

# Android/IntelliJ y Gradle
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# Gradle
#
/build/
/packages/react-native-gradle-plugin/build/
/packages/rn-tester/build
/packages/rn-tester/android/app/.cxx/
/packages/rn-tester/android/app/build/
/packages/rn-tester/android/app/gradle/
/packages/rn-tester/android/app/gradlew
/packages/rn-tester/android/app/gradlew.bat
/ReactAndroid/build/
/ReactAndroid/.cxx/
/ReactAndroid/gradle/
/ReactAndroid/gradlew
/ReactAndroid/gradlew.bat
/ReactAndroid/hermes-engine/build/
/ReactAndroid/hermes-engine/.cxx/
/template/android/app/build/
/template/android/build/

# node.js
#
node_modules/
*.log
.nvm
/bots/node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore
/.lsp.buckd
/.lsp-buck-out
/ReactAndroid/src/main/jni/prebuilt/lib/
/ReactAndroid/src/main/gen

# Android Studio
#
.project
.settings
.classpath

# Android memory profiler files
*.hprof

# Test generated files
/ReactAndroid/src/androidTest/assets/AndroidTestBundle.js
*.js.meta

# Watchman
#
.watchmanconfig

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# iOS / CocoaPods
/template/ios/build/
/template/ios/Pods/
/template/ios/Podfile.lock
/packages/rn-tester/Gemfile.lock

# Ignore RNTester specific Pods, but keep the _offline_mirrors_ here.
/packages/rn-tester/Pods/*
!/packages/rn-tester/Pods/_offline_mirrors_

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Ruby Gems (Bundler)
/vendor
/template/vendor

# react-native-codegen
/React/FBReactNativeSpec/FBReactNativeSpec
/packages/react-native-codegen/lib
/ReactCommon/react/renderer/components/rncore/
/packages/rn-tester/NativeModuleExample/ScreenshotManagerSpec*

# Additional SDKs
/sdks/download
/sdks/hermes
/sdks/hermesc

# Otros
#
/coverage
/third-party
/kur